pdfplumber
python-docx
psycopg2-binary
werkzeug
python-dotenv
livekit 
livekit-plugins-openai 
livekit-plugins-deepgram
aiohttp
livekit-agents
livekit-plugins-silero
livekit-api
flask[async]
flask
flask-cors 
uvicorn
requests
torch
torchaudio
soundfile
